body {
    background-image: URL("facade2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logo{
    height: 200px;
    width: 200px;
}
.menupunkter{
    background-color: lightcoral;
    width: 100%
}

