body {
    background-image: URL("Toscana2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#topH1 {
    font-size: 60px;
    margin-top: 2px;
    margin-bottom: 5px;

}

#eagle {

    height: 220;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 100px;

}

.topheader {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 20px;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 15px;
    padding-top: 2px;

}

.pris {
    text-align: center;
}

.td {
    border-radius: 5px;
}

.topbar-item {
    color: rgb(0, 0, 0);
}

.topbar-item td {
    border: none;
}


#logo1 {
    height: 200px;
    width: 200px;
    float: left;
    margin-left: 25px;
}

#logo2 {
    height: 220px;
    width: 200px;
    float: right;
    margin-right: 25px;
}

#logo1div {
    position: absolute;
    top: 0%;
    left: 0%;

}

#logo2div {

    position: absolute;
    top: 0%;
    right: 0%;
}

.menupunkter {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 20px;
    background-color: whitesmoke;
    width: 65%;
    margin-left: 17.5%;
    border-radius: 2vh;
}

.menupunkter td,
th {

    font-size: 22px;
}

th,
td {
    border: none;
    /*1px solid black;*/
    padding: 20px;
}

.table-div table {
    width: 100%
}


.mySlides {
    margin-left: 25%;
    width: 100%
}

.googlePin {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 22px;
    width: 100%;
    margin-left: 3%;
    padding: 20px;

}


/* Dropdown Button */
.dropbtn {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 20px;
    background-color: whitesmoke;
    text-decoration: underline;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #8c8c8c;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  /* Centered text */

/* tr {
    color: blue;
    font-size: 20px;
    font-family: Garamond, serif;
    /*font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}*/