body {
    background-image: URL("Toscana2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#topH1 {
    font-size: 60px;
    margin-top: 2px;
    margin-bottom: 5px;

}

#eagle {

    height: 220;
    margin-left: 15%;
    margin-right: 15%;

}

.topheader {
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 15px;
    padding-top: 2px;

}

.td {
    border-radius: 5px;
}

.topbar-item {
    color: rgb(0, 0, 0);
}

.topbar-item td{
    border: none;
}


#logo1 {
    height: 200px;
    width: 200px;
    float: left;
    margin-left: 25px;
}

#logo2 {
    height: 220px;
    width: 200px;
    float: right;
    margin-right: 25px;
}

#logo1div {
    position: absolute;
    top: 0%;
    left: 0%;

}

#logo2div {

    position: absolute;
    top: 0%;
    right: 0%;
}

.menupunkter {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 20px;
    background-color: whitesmoke;
    width: 65%;   
    margin-left :17.5%;
    
   
    
    
}

th,
td {
    border: 1px solid black;
}

.table-div table{
    width: 100%
}

/* tr {
    color: blue;
    font-size: 20px;
    font-family: Garamond, serif;
    /*font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}*/